<<<<<<< HEAD
/*   HOla toas   */
=======
/*   HOla selesdxx toas   */ /* hola sabes donde estoy? */
>>>>>>> 53d1c8ef4dfbaecd6f1ba3a12f10e1b06795d0e0

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
<<<<<<< HEAD
/*H*/
=======
/*AAAAAAH!!!!!!!!!!!!!!!!!!!!!!*/
>>>>>>> 53d1c8ef4dfbaecd6f1ba3a12f10e1b06795d0e0
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{

	background: #fafafa;
    font-family: 'Open sans';
}

#page-title{
	text-align: left;
    margin: 20px 0px;
	color: #fff;
}

#page-title img{
    width: 200px;
}

/* SLIDER ==============================*/

.flexslider{
	width: 100%;
	max-width: 1600px;
	/*margin: 50px auto;*/

	border: 5px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);

	display: flex;
	flex-direction: column;

	position: relative;
}

.slides,
.slides li,
.slides li img{
	width: 100%;
}

.slides li{
	margin-bottom: -5px;
}

/* PAGINACION =======================*/

/* AQUIIIIIII LAAAAAAAAA BARRAAAAAAAAAA */

.flex-control-nav.flex-control-paging{
	width: 80px;
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	list-style: none;

	position: absolute;
	bottom: 5px;
	z-index: 3;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 5px;
}

.flex-control-nav li a{
	display: block;
	width: 15px;
	height: 15px;
	background: #FE0000;
	border-radius: 50%;
	text-indent: -9999px;
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.55);
}

.flex-control-nav li a.flex-active{
	background: #FFFFFF;
}

/* NAVEGACION ===============*/
.flex-direction-nav{
	z-index: 3;
	list-style: none;
}
/* AQUIIIIII LASSSS FLECHASSSSSSSSSSSSSS */
.flex-direction-nav a{
	width: 60px;
	height: 60px;
	background: #FE0000;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	opacity: 0;

	position: absolute;
	top: 50%;
	margin-top: -30px;

	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before{
	content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: #fff;
}

.flex-direction-nav a.flex-next::before{
	content: "\f105";
}

.flex-direction-nav .flex-prev{
	left: 0px;
}

.flex-direction-nav .flex-next{
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 1;
	left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
	right: 15px;
}


/* CAPTION ==================*/
.caption{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 2;
}

.caption h2{
	font-size: 30px;
	color: #ffffff;
	text-shadow: 3px 2px 2px rgba(254,0, 0, 0.70);
}
.textoSlide{
  margin-left: 700px;
    margin-top:450px;
}

/* RESPONSIVE ========== */

@media screen and (max-width: 770px){
	.flex-direction-nav a{
		opacity: 1;
	}

	.flex-direction-nav .flex-prev{
		left: 15px;
	}

	.flex-direction-nav .flex-next{
		right: 15px;
	}

	.caption h2{
		font-size: 50px;
	}

}

@media screen and (max-width: 600px){
	.caption h2{
		font-size: 40px;
	}

	.flexslider{
		width: 100%;
		border-radius: 0px;
		border: none;
	}

	.slides li{
		overflow: hidden;
	}

	.slides li img{
		width: 600px;
	}

	.flex-direction-nav a{
		top: auto;
	}
}

@media screen and (max-width: 450px){
	.slides li img{
		transform: translateX(-90px);
	}

	#page-title{
		font-size: 40px;
	}
}

/*   Barra menu   */

div.barra{
    background-color: #ffffff;
    padding: 10px 0;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
}

div.logo{
    width: 80%;
    float: left;
}

div.logo img {
    width: 35%;
}

@media only screen and (min-width: 768px){
    div.logo{
        width: 33%;
    }
}

/* Nav Principal */

nav.navegacion-principal{
    display: none;
}

nav.navegacion-principal a{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

nav.navegacion-principal a:hover{
    background-color: #fe4918;
}

nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}

nav.navegacion-principal a:last-child:hover{
    color: #ffffff;
}

.flexslider:hover{
  slideshowSpeed : 0;
}
@media only screen and (min-width:768px){
    nav.navegacion-principal{
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }

    nav.navegacion-principal a{
        margin-right: 10px;
        padding: 10px 20px;
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
        text-align: center;
    }
}
/*     clearfix    */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
